<div class="result-container">
  <h3>Your package's dimensions are</h3>
  <p class="res"><%= @length %>in x <%= @width %>in x <%= @height %>in</p>
  <h3>with a weight of</h3>
  <p class="res"><%= @weight %>lbs</p>
  <hr>
  <h3>The total cost to ship this package is</h3>
  <p class="res">$<% if @result_string[-2,1] == "." %><%= @result %>0</p><% else %><%= @result %></p><% end %>
</div>
